@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --font-size-verySmallP: 12px;            /* 12px */
  --font-size-smallP: 14px;            /* 14px */
  --font-size-p: 1rem;            /* 16px */
  --font-size-h6: 1rem;         /* 16px */
  --font-size-h5: 1.25rem;        /* 20px */
  --font-size-h4: 1.5rem;       /* 24px */
  --font-size-h3: 2rem;       /* 32px */
  --font-size-h2: 2.5rem;       /* 40px */
  --font-size-h1: 3rem;       /* 48px */
  --font-size-smallTitle: 3.5rem;  /* 56px */
  --font-size-title: 72px;  /* 72px */
  --font-size-bigTitle: 200px;  /* 72px */

  --color-primaryBG: #0F2130;
  --color-secondaryBG: #F9F9EF;
  --color-primaryText: #878787;
  --color-secondaryText: #F7F7F7;
  --color-smallText: #242424;
  --color-especialTitle: #F9F9EF;

  --color-white-primaryText: #52524B;
  --color-white-secondaryText: #31312C;

  --color-primaryButton: #F9F9EF;
  --color-secondaryButton: #31312C;

  --color-primaryButtonHover: #31312C;
  --color-secondaryButtonHover: #F9F9EF;

  --color-blue: #33658A;
  --color-gold: #DAA520;
  --color-red: #BA3B46;

  --ltListWidth: 0;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  position: relative;
  /* margin: 30px 0 0 0; */
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: auto !important;
  background-color: #0C0D0E;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(12, 9, 9, 0);
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none; */
  position: inherit !important;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input, select{
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size-h6);
  font-weight: 400;
  color: #555555;
  line-height: auto !important;
  background: rgb(228,222,211);
  background: transparent;
  border: none;
  border-bottom: #CCCCCC 1px solid;
  outline: none;
  padding: 5px 0 5px 5px;
}

input{
  margin-bottom: 50px;
}

.width100{
  width: 100% !important;
}

.textBold{
  font-weight: bold !important;
}

button, .fakeBtn{
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size-h6);
  font-weight: 500;
  color: #0C0D0E;
  line-height: auto !important;
  background: rgb(228,222,211);
  background: linear-gradient(0deg, rgba(228,222,211,1) 0%, rgba(239,236,230,1) 100%);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  padding: 5px 15px;
}

@media (min-width: 768px) {
  button, .fakeBtn{
    padding: 15px 50px;
  }
}

.fakeBtn{
  background: #0C0D0E;
}

.fakeBtn *{
  color: #EFECE6 !important;
  margin: 0 auto !important;
  text-align: center !important;
}

label{
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size-h6);
  font-weight: bold;
  color: #0C0D0E;
  line-height: auto !important;
}

.invisibleBtn{
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

ul{
  color: inherit;
  list-style: none;
}

li{
  color: var(--color-primaryText);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 768px){
  .bigTitle{
      font-size: var(--font-size-bigTitle);
      font-weight: bold;
      color: var(--color-secondaryText);
  }
}


.title{
  font-size: var(--font-size-title);
  font-weight: bold;
  color: var(--color-secondaryText);
}

.displayText{
  font-size: var(--font-size-smallTitle);
  font-weight: bold;
  color: var(--color-secondaryText);
}

.smallText{
  font-size: 12px;
  font-weight: 400;
  color: var(--color-smallText);
}

h1{
  font-size: var(--font-size-h1);
  font-weight: bold;
  color: var(--color-secondaryText);
}

h2{
  font-size: var(--font-size-h2);
  font-weight: bold;
  color: var(--color-secondaryText);
}

h3{
  font-size: var(--font-size-h3);
  font-weight: 600;
  color: var(--color-secondaryText);
}

h4{
  font-size: var(--font-size-h4);
  font-weight: 600;
  color: var(--color-secondaryText);
}

h5{
  font-size: var(--font-size-h5);
  font-weight: 500;
  color: var(--color-secondaryText);
}

h6{
  font-size: var(--font-size-h6);
  font-weight: 500;
  color: var(--color-secondaryText);
}

p{
  font-size: var(--font-size-p);
  font-weight: 400;
  color: var(--color-primaryText);
}

.smallP{
  font-size: var(--font-size-smallP);
  font-weight: 400;
  color: var(--color-primaryText);
}

.verySmallP{
  font-size: var(--font-size-verySmallP);
  font-weight: 400;
  color: var(--color-primaryText);
}

.whiteP{
  color: #EFECE6;
}