<div class="container">
    {% for product in products %}
        <div class="col4 colL4 colM6 colS3">
          <div class="adminProductBox {% if product.is_deleted %} adminProductBoxDisable {% endif %}">
            <a class="adminProductImg" href="{% url 'adminProductProfile' product.id %}">
              <img src="{{ product.image.url }}" alt="{{ product.name }}" />
            </a>
            <div class="adminProductContent">
              <div class="adminProductContentTop">
                <p class="smallP">{{ product.name }}</p>
                <p class="smallP">${{ product.price }}</p>
              </div>
              <div class="adminProductContentCategory">
                <form id="formCategory{{ product.id }}">
                  {% csrf_token %}
                  <select id="category{{product.id}}" name="category" required value="product.category_id" onChange="changeCategory({{product.id}})">
                    {% for category in categories %}
                      <option value="{{ category.id }}" {% if category.id == product.category_id %}selected{% endif %} {% if category.is_deleted %}disabled{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                  </select>
                </form>
              </div>
              <div class="adminProductContentButton">
                  {% if product.is_deleted %}
                    <a class="adminProductContentButtonActive" href="{% url 'adminProductRestore' product.id %}">
                      <button>
                        Restore
                      </button>
                    </a>
                  {% else %}
                    <a class="adminProductContentButtonDisable" href="{% url 'adminProductDelete' product.id %}">
                      <button>
                        Delete
                      </button>
                    </a>
                  {% endif %}
              </div>
            </div>
          </div>
          
        </div>
    {% endfor %}
  </div>