<form class="container" id="searchForm" {% if haveParam %} action="{% url urlForm haveParam %}" {% else %} action="{% url urlForm %}" {% endif %}  method="POST">
    {% csrf_token %}  
    {% if canHaveMultySearches == "True" and canHaveCategories == "True" %}
      <input class="col3 colL2 colM2 colS3" type="search" name="search" placeholder="Search Name" value="{{ searchObj.search }}" onBlur="forceSearchSubmit()" />
      <div class="col3 colL2 colM1 colS3">
        <select name="searchPrice" value="{% if searchObj.price %}{{ searchObj.price }}{% else %}-1{% endif %}" onChange="forceSearchSubmit()">
          <option value="-1">All Prices</option>
          <option value="0" {% if searchObj.price == "0" %}selected{% endif %}>0€</option>
          <option value="100" {% if searchObj.price == "100" %}selected{% endif %}>&lt;100€</option>
          <option value="250" {% if searchObj.price == "250" %}selected{% endif %}>&lt;250€</option>
          <option value="500" {% if searchObj.price == "500" %}selected{% endif %}>&lt;500€</option>
          <option value="500+" {% if searchObj.price == "500+" %}selected{% endif %}>&ge;500€</option>
        </select>
      </div>
      <div class="col3 colL2 colM1 colS3">
        <select name="searchStock" value="{% if searchObj.stock %}{{ searchObj.stock }}{% else %}-1{% endif %}" onChange="forceSearchSubmit()">
          <option value="-1">All Stocks</option>
          <option value="0" {% if searchObj.stock == "0" %}selected{% endif %}>0</option>
          <option value="25" {% if searchObj.stock == "25" %}selected{% endif %}>&lt;25</option>
          <option value="50" {% if searchObj.stock == "50" %}selected{% endif %}>&lt;50</option>
          <option value="100" {% if searchObj.stock == "100" %}selected{% endif %}>&lt;100</option>
          <option value="100+" {% if searchObj.stock == "100+" %}selected{% endif %}>&ge;100</option>
        </select>
      </div>
      <div class="col3 colL2 colM2 colS3">
        <select name="searchCategory" value="{% if searchObj.category %}{{ searchObj.category }}{% else %}0{% endif %}" onChange="forceSearchSubmit()">
            <option value="0">All Categories</option>
            {% for category in categories %}
            <option value="{{ category.id }}" {% if searchObj.category == category.id %}selected{% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>
    {% elif canHaveMultySearches == "True" and canHaveCategories == "False" %}
        <input class="col6 colL2 colM2 colS3" type="search" name="search" placeholder="Search Name" value="{{ searchObj.search }}" onBlur="forceSearchSubmit()" />
        <div class="col3 colL2 colM1 colS3">
          <select name="searchPrice" value="{% if searchObj.price %}{{ searchObj.price }}{% else %}-1{% endif %}" onChange="forceSearchSubmit()">
            <option value="-1">All Prices</option>
            <option value="0" {% if searchObj.price == "0" %}selected{% endif %}>0€</option>
            <option value="100" {% if searchObj.price == "100" %}selected{% endif %}>&lt;100€</option>
            <option value="250" {% if searchObj.price == "250" %}selected{% endif %}>&lt;250€</option>
            <option value="500" {% if searchObj.price == "500" %}selected{% endif %}>&lt;500€</option>
            <option value="500+" {% if searchObj.price == "500+" %}selected{% endif %}>&ge;500€</option>
          </select>
        </div>
        <div class="col3 colL2 colM1 colS3">
          <select name="searchStock" value="{% if searchObj.stock %}{{ searchObj.stock }}{% else %}-1{% endif %}" onChange="forceSearchSubmit()">
            <option value="-1">All Stocks</option>
            <option value="0" {% if searchObj.stock == "0" %}selected{% endif %}>0</option>
            <option value="25" {% if searchObj.stock == "25" %}selected{% endif %}>&lt;25</option>
            <option value="50" {% if searchObj.stock == "50" %}selected{% endif %}>&lt;50</option>
            <option value="100" {% if searchObj.stock == "100" %}selected{% endif %}>&lt;100</option>
            <option value="100+" {% if searchObj.stock == "100+" %}selected{% endif %}>&ge;100</option>
          </select>
        </div>
    {% else %}
      <input class="col12 colL9 colM6 colS3" type="search" name="search" placeholder="Search Name" value="{{ search }}" onBlur="forceSearchSubmit()" />
    {% endif %}
  </form>

<script>

    var forceSearchSubmit = () => {
      document.getElementById('searchForm').submit();
    }
</script>