{% extends "adminBase.html" %} 
{% block title %} Admin Panel | Challenge Store {% endblock %} 
{% block adminPageTitle %} EDIT - {{ category.name }} {% endblock %} 
{% block content %}
<form id="updateForm" onSubmit="sendForm({{category.id}})">
  <div class="container">
    {% csrf_token %}
    <div class="col12 colL8 colM6 colS3">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" value="{{ category.name }}">
    </div>
  </div>
</form>
<div class="container">
  <div class="col3 colL3 colM2 colS1">
    <button class="width100" onClick="sendForm({{category.id}})">
      Edit
    </button>
  </div>
  <div class="col6 colL2 colM2 colS1"></div>
  <div class="col3 colL3 colM2 colS1">
    {% if category.is_deleted %}
        <a class="adminProductContentButtonActive" href="{% url 'adminCategoryRestore' category.id %}">
          <button class="width100">
            Restore
          </button>
        </a>
      {% else %}
        <a class="adminProductContentButtonDisable" href="{% url 'adminCategoryDelete' category.id %}">
          <button class="width100">
            Delete
          </button>
        </a>
      {% endif %}
  </div>
</div>
  <form class="container searchBarCategoryProfile" id="searchForm" action="{% url 'adminCategoryProfile' category.id %}" method="POST">
    {% csrf_token %}  
    <input class="col4 colL3 colM2 colS3" type="search" name="search" placeholder="Search Products" value="{{ searchObj.search }}" onBlur="forceSearchSubmit()" />
    <div class="col4 colL3 colM2 colS3">
      <select name="searchPrice" value="{% if searchObj.price %}{{ searchObj.price }}{% else %}-1{% endif %}" onChange="forceSearchSubmit()">
        <option value="-1">All Prices</option>
        <option value="0" {% if searchObj.price == "0" %}selected{% endif %}>0€</option>
        <option value="100" {% if searchObj.price == "100" %}selected{% endif %}>&lt;100€</option>
        <option value="250" {% if searchObj.price == "250" %}selected{% endif %}>&lt;250€</option>
        <option value="500" {% if searchObj.price == "500" %}selected{% endif %}>&lt;500€</option>
        <option value="500+" {% if searchObj.price == "500+" %}selected{% endif %}>&ge;500€</option>
      </select>
    </div>
    <div class="col4 colL2 colM2 colS3">
      <select name="searchStock" value="{% if searchObj.stock %}{{ searchObj.stock }}{% else %}-1{% endif %}" onChange="forceSearchSubmit()">
        <option value="-1">All Stocks</option>
        <option value="0" {% if searchObj.stock == "0" %}selected{% endif %}>0</option>
        <option value="25" {% if searchObj.stock == "25" %}selected{% endif %}>&lt;25</option>
        <option value="50" {% if searchObj.stock == "50" %}selected{% endif %}>&lt;50</option>
        <option value="100" {% if searchObj.stock == "100" %}selected{% endif %}>&lt;100</option>
        <option value="100+" {% if searchObj.stock == "100+" %}selected{% endif %}>&ge;100</option>
      </select>
    </div>
  </form>

  <div class="container">

  
    {% for product in products %}
      <div class="col4 colL4 colM6 colS3">
            <div class="adminProductBox {% if product.is_deleted %} adminProductBoxDisable {% endif %}">
              <a class="adminProductImg" href="{% url 'adminProductProfile' product.id %}">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" />
              </a>
              <div class="adminProductContent">
                <div class="adminProductContentTop">
                  <p class="smallP">{{ product.name }}</p>
                  <p class="smallP">${{ product.price }}</p>
                </div>
                <div class="adminProductContentCategory">
                  <form id="formCategory{{ product.id }}">
                    {% csrf_token %}
                    <select id="category{{product.id}}" name="category" required value="product.category_id" onChange="changeCategory({{product.id}})">
                      {% for category in categories %}
                        <option value="{{ category.id }}" {% if category.id == product.category_id %}selected{% endif %} {% if category.is_deleted %}disabled{% endif %}>{{ category.name }}</option>
                      {% endfor %}
                    </select>
                  </form>
                </div>
                <div class="adminProductContentButton">
                    {% if product.is_deleted %}
                      <a class="adminProductContentButtonActive" href="{% url 'adminProductRestore' product.id %}">
                        <button>
                          Restore
                        </button>
                      </a>
                    {% else %}
                      <a class="adminProductContentButtonDisable" href="{% url 'adminProductDelete' product.id %}">
                        <button>
                          Delete
                        </button>
                      </a>
                    {% endif %}
                </div>
              </div>
            </div> 
      </div>
    {% endfor %}
  </div>



  <script>
    categoryJS = {}

    var sendForm = (id) => {
      event.preventDefault()
      var form = document.getElementById("updateForm");
      var formData = new FormData(form);

      fetch('http://127.0.0.1:8000/adminPanel/categories/edit/'+id+'/', {
        method: 'POST',
        body: formData
      })
      .then(response => response.json())
      .then(data => {
        window.location.href = window.location.href
        updateCategoryJS(data)
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    }

    var disableCat = (id) => {
      event.preventDefault()
      var form = document.getElementById("disableForm");
      var formData = new FormData(form);
  
      fetch('http://127.0.0.1:8000/adminPanel/categories/delete/'+id+'/', {
        method: 'POST',
        body: formData
      })
      .then(response => response.json())
      .then(data => {
        updateCategoryJS(data)
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    }
  
    var restoreCat = (id) => {
      event.preventDefault()
      var form = document.getElementById("restoreForm");
      var formData = new FormData(form);
  
      fetch('http://127.0.0.1:8000/adminPanel/categories/restore/'+id+'/', {
        method: 'POST',
        body: formData
      })
      .then(response => response.json())
      .then(data => {
        updateCategoryJS(data)
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    }

    var startValues = () => {
      categoryJS.id = {{ category.id }}
      categoryJS.name = "{{ category.name }}"
      categoryJS.is_deleted = "{{ category.is_deleted }}"
    }

    var updateCategoryJS = (data) => {
      categoryJS = data.categories
    }


    var changeCategory = (id) => {
      var form = document.getElementById('formCategory' + id);
      var formData = new FormData(form);
      
      fetch('http://127.0.0.1:8000/adminPanel/products/edit/'+id+'/', {
        method: 'POST',
        body: formData
      })
      .then(response => response.json())
      .then(data => {
        window.location.href = window.location.href
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    }

    var forceSearchSubmit = () => {
      document.getElementById('searchForm').submit();
    }

    startValues()

  </script>
{% endblock %}
