{% extends "adminBase.html" %} 
{% block title %} Admin Panel | Challenge Store {% endblock %} 
{% block adminPageTitle %} DASHBOARD {% endblock %} 
{% block content %}
<div class="container">
  <div class="col4 statisticsBox">
    <h5>Nº Products</h5>
    <h1 class="title">{{ nProds }}</h1>
  </div>
  <div class="col4 statisticsBox">
    <h5>Nº Products Without Stock</h5>
    <h1 class="title">{{ nProdsNoStock }}</h1>
  </div>
  <div class="col4 statisticsBox">
    <h5>Nº Categories</h5>
    <h1 class="title">{{ nCats }}</h1>
  </div>
</div>
{% endblock %}
