{% extends "adminBase.html" %} 
{% load static %}
{% block title %} New Product | Challenge Store {% endblock %} 
{% block adminPageTitle %} CREATE - PRODUCT {% endblock %} 
{% block content %}
<form id="createForm" action="{% url 'adminProductCreate' %}" method="post" enctype="multipart/form-data">
  <div class="container">
      {% csrf_token %}
      <div class="col5 colL3 colM2 colS3">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required value="" placeholder="Name">
      </div>
      <div class="col2 colL2 colM1 colS2">
        <label for="price">Price</label>
        <input type="number" id="price" name="price" required value="" placeholder="0.0$">
      </div>
      <div class="col2 col1 colM1 colS1">
        <label for="stock">Stock</label>
        <input type="number" id="stock" name="stock" required value="" placeholder="0">
      </div>
      <div class="col3 colL2 colM2 colS3 categoriesSelect">
        <label for="category">Category</label>
        <select id="category" name="category" required value="product.category_id">
          {% for category in categories %}
            <option value="{{ category.id }}" {% if category.id == product.category_id %}selected{% endif %} {% if category.is_deleted %}disabled{% endif %}>{{ category.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col9 colL6 colM4 colS3">
        <div class="displayImages">
          <img id="img-preview-300" src="{% static '/public/noImage.jpg' %}" alt="Current Image">
          <img id="img-preview-150" src="{% static '/public/noImage.jpg' %}" alt="Current Image">
          <img id="img-preview-50" src="{% static '/public/noImage.jpg' %}" alt="Current Image">
        </div>
      </div>
      <div class="changeImageBtn col3 colL2 colM2 colS3">
        <input type="file" id="image" name="image" style="visibility: hidden; position: absolute; left: -9999px;">
        <div class="fakeBtn darkBtn" onClick="activateImageSelector()"><p>Change Image</p></div>
      </div>
      <div class="col3 colL3 colM2 colS1">
        <button class="width100">
          Create
        </button>
      </div>
  </div>
</form>

<script>
  const imageInput = document.getElementById('image');
  imageInput.addEventListener('change', (event) => {
    const file = event.target.files[0];
    
    if (file) {
      const reader = new FileReader();
      reader.onload = (e) => {
        const newSrc = e.target.result;
        updatePreviewImages(newSrc)
      };
      
      // Read the selected image as a DataURL
      reader.readAsDataURL(file);
    } else{
      updatePreviewImages("")
    }
  });

  var updatePreviewImages = (newSrc) => {
    const defaultImageUrl = "{% static 'public/noImage.jpg' %}";

    const img50 = document.getElementById('img-preview-50');
    const img150 = document.getElementById('img-preview-150');
    const img300 = document.getElementById('img-preview-300');
        
    if(newSrc){
      img50.src = newSrc;
      img150.src = newSrc;
      img300.src = newSrc;
    } else{
      img50.src = defaultImageUrl;
      img150.src = defaultImageUrl;
      img300.src = defaultImageUrl;
    }
  }

  var activateImageSelector = () => {
    imageInput.click()
  }

  document.getElementById('createForm').addEventListener('submit', function(event) {
    const fileInput = document.getElementById('image');
    if (!fileInput.value) {
      alert('Please upload an image.');
      event.preventDefault();
    }
  });
</script>
{% endblock %}
