{% extends "base.html" %} {% block title %} Challenge Store {% endblock %} 
{% block content %}
{% load static %}

<div class="heroSection">
  <div class="textDest">
    <h1 class="bigTitle">C</h1>
    <h1 class="bigTitle">L</h1>
    <h1 class="bigTitle">I</h1>
    <h1 class="bigTitle">C</h1>
    <h1 class="bigTitle">K</h1>
  </div>
  <div class="imgDest">
    <img src="{% static '/public/iphone14.png' %}" width="3840" height="2160" />
  </div>
  <div class="waves">
    <img src="{% static '/public/waves.png' %}" width="3840" height="2160" />
  </div>
</div>

<div class="itemsSection">
    <div class="container">
        <div class="col6 itemsBox">
            <img src="{% static '/public/person-iPhone.jpg' %}" width="100%" heigth="100%" />
            <div class="itemsBoxContent">
                <h2>iPhone</h2>
                <p class="whiteP">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when.</p>
                <button>
                    SEE MORE >
                </button>
            </div>
        </div>
        <div class="col6 itemsBox">
            <img src="{% static '/public/samsung.jpg' %}" width="100%" heigth="100%" />
            <div class="itemsBoxContent">
                <h2>Samsung</h2>
                <p class="whiteP">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when.</p>
                <button>
                    SEE MORE >
                </button>
            </div>
        </div>
        <div class="col6 itemsBox">
            <img src="{% static '/public/huawei.jpg' %}" width="100%" heigth="100%" />
            <div class="itemsBoxContent">
                <h2>Huawei</h2>
                <p class="whiteP">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when.</p>
                <button>
                    SEE MORE >
                </button>
            </div>
        </div>
        <div class="col6 itemsBox">
            <img src="{% static '/public/oppo.jpg' %}" width="100%" heigth="100%" />
            <div class="itemsBoxContent">
                <h2>Oppo</h2>
                <p class="whiteP">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when.</p>
                <button>
                    SEE MORE >
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
